<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="header">
        <div class="title">
            Outros professores
        </div>
    </div>
    <div data-bind="text: errorMessage" class="error-message"></div>
    <div class="content" data-bind="visible: carregando">Carregando...</div>
    <div class="content" data-bind="visible: !carregando()" style="display: none;">
        <div class="menu" data-bind="foreach: professores">
            <div class="item">
                <a href="#" data-bind="text: title" >Item</a>
            </div>
        </div>
    </div>

    
    <script src="../js/jquery.js"></script>
    <script src="../js/ko.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/components/menu_item.js"></script>
    <script>
        function ViewModel() {
            var self = this;

            self.carregando = ko.observable(true);
            self.errorMessage = ko.observable('');

            self.professores = ko.observableArray([]);
            
            self.carregarProfessores = function (pessoa) {
                self.carregando(true);
                self.errorMessage('');

                App.server.outros_professores(pessoa.cpf)
                    .then(function (res) {
                        if (res.professores.length === 0)
                            self.errorMessage('Não há professores cadastrados.');
                        else
                            self.professores(res.professores.map(a => new MenuItem(a)));
                    })
                    .catch(function (err) {
                        self.errorMessage(err.message);
                    })
                    .finally(function () {
                        self.carregando(false);
                    });
            };

            self.init = function () {
                self.carregarProfessores(App.local.retrieve(App.local.PESSOA));
            };
        }
    </script>
    <script src="../js/init.js"></script>

</body>
</html>