<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="header">
        <div class="title">
            Salas
        </div>
    </div>
    <div class="content">
        <div data-bind="text: errorMessage" class="error-message"></div>
        <div data-bind="visible: !salas().length">
            Não há salas cadastradas.
        </div>
        <div class="menu" data-bind="foreach: salas">
            <div class="item">
                <a href="#" data-bind="click: $root.sala($data), text: nome"></a>
            </div>
        </div>
    </div>

    
    <script src="../js/jquery.js"></script>
    <script src="../js/ko.js"></script>
    <script src="../js/app.js"></script>
    <script>
        function ViewModel() {
            var self = this;

            self.errorMessage = ko.observable('');
            self.message = ko.observable('');

            self.salas = ko.observableArray([]);
            self.sala = function (sala) {
                return function () {
                    var data = {};
                    data[App.local.SALA] = sala;
                    App.pages.goTo('sala', data);
                };
            };

            self.carregarSalas = function () {
                self.salas([]);
                App.server.salas()
                    .then(function (res) {
                        self.salas(res.salas);
                    })
                    .catch(function (err) {
                        self.errorMessage(err.message);
                    });
            };

            self.init = self.carregarSalas;
        }
    </script>
    <script src="../js/init.js"></script>

</body>
</html>